<!doctype html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/sait.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="header">
<div class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">ГЛАВНАЯ СТРАНИЦА - Saitik</h1>
          <font size="6">
              Спасибо зашли к нам на сайт
          </font>
        <p>
          <a href="/ticket" class="btn btn-primary my-2"></a>
            <a href="/ticket" class="button7">Купить билет</a>
        </p>
      </div>
    </div>
</div>
</div>
</body>
</html>