<!doctype html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/sait.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
<div class="header1">
<div class="py-5 text-center container">
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://sun9-42.userapi.com/impg/9uP2u68yJQUZn8lmEq_luv926WrvJtXLl7Cuqw/0VIrx8QBZPY.jpg?size=800x480&quality=96&proxy=1&sign=12be95f7241c8ed2a443dd669b683c33&type=share">
            <div class="card-body">
              <p style="font-size:24px" class="card-text"><strong>Москва</strong></p>
              <p style="font-size:24px" class="card-text">Это замечательный город</p>
                  <a href="https://www.aviasales.ru/?params=OVB1" class="button25">Купить</a>
                <p>


                  </p>
                <div class="d-flex justify-content-between align-items-center">
                </div>
                <small style="font-size:24px" class="text-muted">12000 rub</small>
                  <p>


                  </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://krot.info/uploads/posts/2021-12/thumbs/1640779547_31-krot-info-p-stolitsa-sankt-peterburga-krasivo-foto-33.jpg">
            <div class="card-body">
              <p style="font-size:24px" class="card-text"><strong>Санкт-Петербург</strong></p>
              <p style="font-size:24px" class="card-text">Подобие Москве</p>
              <p class="card-text"></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://www.aviasales.ru/?params=OVB1" class="button25">Купить</a>
                    <p>


                  </p>
                </div>
                <small style="font-size:24px" class="text-muted">15000 rub</small>
                  <p>


                  </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://stihi.ru/pics/2016/11/23/9653.jpg">
            <div class="card-body">
              <p style="font-size:24px" class="card-text"><strong>Болгария</strong></p>
              <p style="font-size:24px" class="card-text">Что-то</p>
              <p class="card-text"></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://www.aviasales.ru/?params=OVB1" class="button25">Купить</a>
                    <p>


                  </p>
                </div>
                <small style="font-size:24px" class="text-muted">20000 rub</small>
                  <p>


                  </p>
              </div>
            </div>
          </div>
        </div>
</div>
</div>
</div>
</div>
</body>
</html>